altgraph
auto-py-to-exe
bottle
bottle-websocket
cffi
Eel
future
gevent
gevent-websocket
greenlet
pefile
pycparser
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pyperclip
PyQt6
PyQt6-Qt6
PyQt6-sip
pywin32-ctypes
whichcraft
zope.event
zope.interface
